
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}


.display-flex{
  display: flex;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700
}
.text-prymary{
  color: #FF900E;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.brand{
  font-size: 3rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  list-style: none;
  margin-right:30px; 
 
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  

}
.navbar, .banner{
  max-width: 1400px;
  margin: 0 auto;
}
 /* banne related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
 text-align: center; 
 margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-img{
  width:100% ;
}
/* tems and features style */
.tems{
  align-items: center;
  margin-top: 80px;
}
.our-fetures{
  padding-left: 75px;
  max-width: 537px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

#Quick-list{
  font-weight: 500;
}
.Facts-containar{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.fact-discription{
  width:540px;
}
.Fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5px;
}
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companes{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gray {
  filter: grayscale(100%);
}
#feature-section-title{
  border-left: 5px solid #FF900E ;
  padding-left: 9px ; 

}
.feature-card{
padding: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border: 8px;
}
.features{
  gap: 100px;
}
  

.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;

}


  




/* rexponsive */
@media  screen and (max-width: 576px) {
  .navbar, .nav-links, .tems, .features{
    flex-direction: column;
  }
  .team-img-container, .Facts-containar, .sponsor-companes{
    grid-template-columns: repeat(1, 1fr);
  }
 .Facts-containar, .sponsor-companes{
  justify-items: center;
  gap: 24px;
}
 #im{
  width: 100%;
 }
 }
/* midium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .tems{
    flex-direction: column;
  }
  .our-fetures{
    margin: 50px auto;
  }
  .sponsor-companes, .Facts-containar {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
  }

}
